<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="shortcut icon" type="image/x-icon" href="/images/light_{{overallStatus.key}}.png"/>
      <meta http-equiv="refresh" content="30">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
